[Unit]
Description=ColdChip ChipVPN
After=network-online.target

[Service]
ExecStart=/usr/local/sbin/chipvpn /etc/chipvpn/chipvpn.json
StandardOutput=null
StandardError=null
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target